	
	/* #Tablet (Portrait)
	================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 789px) {		
		.con_style, .gallery_area{ width: 748px !important; }
		
		.gallery_item img{ width: 219px !important; }
		
		.gallery_item a .overly{ height:215px !important; width:219px !important;}
	    .gallery_item a .overly .clear{ height:100px !important; }
		
	}
	
	
	
	/*  #Mobile (Portrait)
	================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
		/* Base Grid */
		.container .col_0.col	{ width: 97.88765%;  }
		.container .col_1.col	{ width: 97.88765%;  }
		.container .col_2.col	{ width: 97.88765%; }
		.container .col_3.col	{ width: 97.88765%; }
		.container .col_4.col	{ width: 97.88765%; }
		.container .col_5.col	{ width: 97.88765%; }
		.container .col_6.col	{ width: 97.88765%; }
		.container .col_7.col	{ width: 97.88765%; }
		.container .col_8.col	{ width: 97.88765%; }
		.container .col_9.col	{ width: 97.88765%; }
		.container .col_10.col	{ width: 97.88765%; }
		.container .col_11.col	{ width: 97.88765%; }
		.container .col_12.col	{ width: 97.88765%; }
		.container .col_13.col	{ width: 97.88765%; }
		.container .col_14.col	{ width: 97.88765%; }
		.container .col_15.col	{ width: 97.88765%; }
		.container .col_16.col	{ width: 97.88765%; }
		.container .col_1_3       { width: 97.88765%; }
		.container .col_2_3       { width: 97.88765%; }
		
		.col_container .col_1 { width:97%; }
		.col_container .col_2 { width:97%; }
		.col_container .col_3 { width:97%; }
		.col_container .col_4 { width:97%; }
		.col_container .col_5 { width:97%; }
		.col_container .col_6 { width:97%; }
		
		#left_sidebar{ width: 97.88765%; margin-right:0; }
		#right_sidebar{ width: 97.88765%; margin-left:0; }
		#article{ width: 97.88765%; float:left; }
		
		.con_style, .gallery_area{ width: 300px !important; }
		.logo_area{ width: 300px !important; }
		
		.selectnav{ display:inline-block; float:none; width:300px !important; margin:0 auto !important;}
		#nav{ display:none !important; }
		
		.copyright, .footer-menu, #footer_nav{ float:none; text-align:center; }
		
		.gallery_item img{ width: 283px !important; }
		.gallery_item a .overly{ height:278px !important; width:283px !important;}
	    .gallery_item a .overly .clear{ height:120px !important; }
		
		#nextslide, #prevslide, .social_bar{ display:none !important; }
		
		
		.logo_area.front_page{ 
			width: 300px !important;
			height: 250px !important;
			margin-top:0!important;
			margin-left:0!important;
			-webkit-border-radius: 10px!important;
			-moz-border-radius: 10px!important;
			border-radius: 10px!important;	
			position:relative !important;
			top:0 !important;
			left:0 !important;
			margin:0 auto !important;
			padding-top:70px !important;
		}
		.logo-warper { margin-top:50px !important; }
		.logo_area.front_page .gap{ display:none; }
		
		
		.copyright.front_page{ position:relative !important;   }
	}
	
	
	
	
	/* #Mobile (Landscape)
	================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		/* Base Grid */
		.container .col_0.col	{ width: 97.88765%;  }
		.container .col_1.col	{ width: 97.88765%;  }
		.container .col_2.col	{ width: 97.88765%; }
		.container .col_3.col	{ width: 97.88765%; }
		.container .col_4.col	{ width: 97.88765%; }
		.container .col_5.col	{ width: 97.88765%; }
		.container .col_6.col	{ width: 97.88765%; }
		.container .col_7.col	{ width: 97.88765%; }
		.container .col_8.col	{ width: 97.88765%; }
		.container .col_9.col	{ width: 97.88765%; }
		.container .col_10.col	{ width: 97.88765%; }
		.container .col_11.col	{ width: 97.88765%; }
		.container .col_12.col	{ width: 97.88765%; }
		.container .col_13.col	{ width: 97.88765%; }
		.container .col_14.col	{ width: 97.88765%; }
		.container .col_15.col	{ width: 97.88765%; }
		.container .col_16.col	{ width: 97.88765%; }
		.container .col_1_3       { width: 97.88765%; }
		.container .col_2_3       { width: 97.88765%; }
		
		.col_container .col_1 { width:97%; }
		.col_container .col_2 { width:97%; }
		.col_container .col_3 { width:97%; }
		.col_container .col_4 { width:97%; }
		.col_container .col_5 { width:97%; }
		.col_container .col_6 { width:97%; }
		
		#left_sidebar{ width: 97.88765%; margin-right:0;}
		#right_sidebar{ width: 97.88765%; margin-left:0;}
		#article{ width: 97.88765%; }
		
		
		.con_style, .gallery_area{ width: 460px !important; }
		
		.gallery_item img{ width: 202px !important; }
		.gallery_item a .overly{ height:199px !important; width:202px !important;}
	    .gallery_item a .overly .clear{ height:90px !important; }

		.selectnav{ display:inline-block; float:none; width:300px !important; margin:0 auto !important;}
		#nav{ display:none !important; }
		
		.copyright, .footer-menu, #footer_nav{ float:none !important; text-align:center !important; padding: 5px 0; }
		
		#nextslide, #prevslide, .social_bar{ display:none !important; }
		
		.logo_area{ width: 360px !important; }
		
		.logo_area.front_page{ 
			width: 300px !important;
			height: 250px !important;
			margin-top:0!important;
			margin-left:0!important;
			-webkit-border-radius: 10px!important;
			-moz-border-radius: 10px!important;
			border-radius: 10px!important;	
			position:relative !important;
			top:0 !important;
			left:0 !important;
			margin:0 auto !important;
			padding-top:70px !important;
		}
		.logo-warper { margin-top:50px !important; }
		.logo_area.front_page .gap{ display:none; }
		
		.copyright.front_page{ position:relative !important;  }
	}